@import '@angular/material/theming';

$custom-color: (
  50: #84fbfd,
  100: #c5cae9,
  200: #9fa8da,
  300: #7986cb,
  400: #5c6bc0,
  500: #3f51b5,
  600: #3949ab,
  700: #303f9f,
  800: #283593,
  900: #1a237e,
  A100: #8c9eff,
  A200: #1A65C5,
  A400: #3d5afe,
  A700: #304ffe,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: white,
    A400: white,
    A700: white,
  )
);

$primary: mat-palette($custom-color, A200, A100, A400);
$accent: mat-palette($mat-pink, A200, A100, A400);
$warn: mat-palette($mat-red);

$theme: mat-light-theme((
  color: (
    primary: $primary,
    accent: $accent,
    warn: $warn,
  )
));

@include mat-core();
@include angular-material-theme($theme);
.mdc-text-field--filled {
  --mdc-filled-text-field-container-color: transparent;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
* {
  box-shadow: none !important;
  border-radius: 0 !important;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app-toolbar {
  width: 100%;
  display: flex;
  justify-content: center;

  img {
    height: 120px;
    width: 120px;
    margin: 57px 0 0 0;
  }
}

.content-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.router-container {
  max-width: 885px;
  width: 100%;
}

.mat-mdc-table {
  margin-top: 20px;
  .mat-row .mat-cell {
    font-size: 17px !important;
  }
}

mat-form-field {
  margin: 63px 0 0 0;
}

.add-hero-button {
  padding: 41px 0px 0 0;

  button {
    height: 55px !important;
    width: 210px !important;
    font-size: 16px !important;
    color: #535353 !important;
  }
}

.form-title {
  font-size: 2.5em;
  font-weight: 300;
  padding: 9px 0 0 0;
}

.mat-mdc-dialog-container .mdc-dialog__title {
  padding: 0px 0 0 6px;
  font-size: 29px
}

.mat-dialog-title {
  font-size: 2.5em; /* Ajusta este valor a tu gusto */
}

mat-paginator {
  padding: 0 23px 0 0;
}

.mat-mdc-paginator-page-size {
  display: none !important;
}

td {
  padding-bottom: 12px !important;
}
